/* Nollataan oletukset ja tehdään perussiisti pohja */
#root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  text-align: left;
}

body {
  margin: 0;
  font-family: system-ui, sans-serif;
  background-color: #f9fafb;
  color: #111827;
}
